<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>Regency_Renewals_HEALTH_DisApplied_Detailed_eShot</title>
<style id="applicationStylesheet" type="text/css">
	.mediaViewInfo {
		--web-view-name: Regency_Renewals_HEALTH_DisApplied_Detailed_eShot;
		--web-view-id: Regency_Renewals_HEALTH_DisApplied_Detailed_eShot;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Regency_Renewals_HEALTH_DisApplied_Detailed_eShot;
	}
	* {
		margin: 0;
		padding: 0;
	}
	#Regency_Renewals_HEALTH_DisApplied_Detailed_eShot {
		position: absolute;
		box-sizing: border-box;
		background: #E5E5E5;
		width: 800px;
		height: 2269px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		margin: 0;
		padding: 0;
		--web-view-name: Regency_Renewals_HEALTH_DisApplied_Detailed_eShot;
		--web-view-id: Regency_Renewals_HEALTH_DisApplied_Detailed_eShot;
		--web-enable-deep-linking: true;
	}
	.Rectangle_7 {
		position: absolute;
		overflow: visible;
		width: 600px;
		height: 145px;
		left: 100px;
		top: 1968px;
	}
	#Group_11 {
		position: absolute;
		width: 230px;
		height: 17px;
		left: 99px;
		top: 2123px;
		overflow: visible;
	}
	#Privacy_Policy_______Regencyfo {
		position: absolute;
		left: 0px;
		top: 0px;
		overflow: visible;
		width: 231px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(139,139,139,1);
	}
	.Rectangle_29 {
		position: absolute;
		overflow: visible;
		width: 800px;
		height: 73px;
		left: 0px;
		top: 0px;
	}
	.logo_regency_for_expats_logo_h {
		position: absolute;
		overflow: visible;
		width: 211px;
		height: 46px;
		left: 289px;
		top: 102px;
	}
	#Great_news_____you_have_retain {
		position: absolute;
		left: 162px;
		top: 169px;
		overflow: visible;
		width: 473px;
		white-space: nowrap;
		line-height: 51px;
		margin-top: -3px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 45px;
		color: rgba(8,27,86,1);
		letter-spacing: -0.1px;
	}
	#Hi_Caroline___We_re_delighted_ {
		position: absolute;
		left: 141px;
		top: 418px;
		overflow: hidden;
		width: 530px;
		height: 362px;
		line-height: 27px;
		margin-top: -4.5px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		color: rgba(139,139,139,1);
	}
	.logo_regency_for_expats_logo_h_A0_Rectangle_5 {
		position: absolute;
		overflow: visible;
		width: 210px;
		height: 87px;
		left: 276px;
		top: 2018px;
	}
	#Group_92 {
		position: absolute;
		width: 137px;
		height: 30.5px;
		left: 332px;
		top: 357.5px;
		overflow: visible;
	}
	.Rectangle_24 {
		position: absolute;
		overflow: visible;
		width: 137px;
		height: 30.5px;
		left: 0px;
		top: 0px;
	}
	#ACTIVATE_NOW {
		position: absolute;
		left: 17.754px;
		top: 5.619px;
		overflow: visible;
		width: 101px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		color: rgba(255,255,255,1);
	}
	#Group_111 {
		position: absolute;
		width: 441.846px;
		height: 15px;
		left: 166px;
		top: 1991px;
		overflow: visible;
	}
	#Group {
		position: absolute;
		width: 441.846px;
		height: 15px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#HEAL {
		position: absolute;
		left: 0px;
		top: 0px;
		overflow: visible;
		width: 32px;
		white-space: nowrap;
		text-align: left;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(254,116,7,1);
	}
	#TH_INSURANCE_________MORE_PR {
		position: absolute;
		left: 29.844px;
		top: 0px;
		overflow: visible;
		width: 169px;
		white-space: nowrap;
		text-align: left;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(254,116,7,1);
	}
	#ODUCTS_________MEMBERSHIP_____ {
		position: absolute;
		left: 192.514px;
		top: 0px;
		overflow: visible;
		width: 215px;
		white-space: nowrap;
		text-align: left;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(254,116,7,1);
	}
	#A {
		position: absolute;
		left: 397.361px;
		top: 0px;
		overflow: visible;
		width: 10px;
		white-space: nowrap;
		text-align: left;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(254,116,7,1);
	}
	#CT_US_ {
		position: absolute;
		left: 405.846px;
		top: 0px;
		overflow: visible;
		width: 37px;
		white-space: nowrap;
		text-align: left;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(254,116,7,1);
	}
	#Group_112 {
		position: absolute;
		width: 82px;
		height: 17px;
		left: 613px;
		top: 2123px;
		overflow: visible;
	}
	#UNSUBSCRIBE {
		position: absolute;
		left: 0px;
		top: 0px;
		overflow: visible;
		width: 83px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(139,139,139,1);
		text-decoration: true;
	}
	#You_re_in_safe_hands__Should_y {
		position: absolute;
		left: 141px;
		top: 855px;
		overflow: hidden;
		width: 506px;
		height: 187px;
		line-height: 28px;
		margin-top: -5px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		color: rgba(139,139,139,1);
	}
	#Thank_you_for_placing_your_tru {
		position: absolute;
		left: 141px;
		top: 1834px;
		overflow: hidden;
		width: 559px;
		height: 119px;
		line-height: 28px;
		margin-top: -5px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		color: rgba(139,139,139,1);
	}
	.Rectangle_1 {
		position: absolute;
		overflow: visible;
		width: 600px;
		height: 626px;
		left: 100px;
		top: 1063px;
	}
	#_ {
		position: absolute;
		left: 141px;
		top: 1179px;
		overflow: hidden;
		width: 32px;
		height: 27px;
		text-align: left;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(254,116,7,1);
	}
	#__A0_Text_14 {
		position: absolute;
		left: 141px;
		top: 1288px;
		overflow: hidden;
		width: 32px;
		height: 27px;
		text-align: left;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(254,116,7,1);
	}
	#__A0_Text_15 {
		position: absolute;
		left: 141px;
		top: 1428px;
		overflow: hidden;
		width: 32px;
		height: 27px;
		text-align: left;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(254,116,7,1);
	}
	#Low_Claims_Discount_Loyalty_di {
		position: absolute;
		left: 178px;
		top: 1177px;
		overflow: hidden;
		width: 480px;
		height: 113px;
		line-height: 28px;
		margin-top: -5px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		color: rgba(139,139,139,1);
	}
	#Low_Premium_Rates__Hospitals_a {
		position: absolute;
		left: 178px;
		top: 1284px;
		overflow: hidden;
		width: 480px;
		height: 125px;
		line-height: 28px;
		margin-top: -5px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		color: rgba(139,139,139,1);
	}
	#ID24_hour_Claims_Assistance_In {
		position: absolute;
		left: 178px;
		top: 1426px;
		overflow: hidden;
		width: 480px;
		height: 105px;
		line-height: 28px;
		margin-top: -5px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		color: rgba(139,139,139,1);
	}
	#Our_renewal_promises_to_you___ {
		position: absolute;
		left: 140px;
		top: 1112px;
		overflow: visible;
		width: 336px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(8,27,86,1);
	}
	#Activate_your_policy_documents {
		position: absolute;
		left: 246px;
		top: 26px;
		overflow: visible;
		width: 305px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(139,139,139,1);
	}
	#Group_121 {
		position: absolute;
		width: 137px;
		height: 30.5px;
		left: 331px;
		top: 794.5px;
		overflow: visible;
	}
	.Rectangle_24_A0_Rectangle_9 {
		position: absolute;
		overflow: visible;
		width: 137px;
		height: 30.5px;
		left: 0px;
		top: 0px;
	}
	#ACTIVATE_NOW_A0_Text_21 {
		position: absolute;
		left: 17.754px;
		top: 5.619px;
		overflow: visible;
		width: 101px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		color: rgba(255,255,255,1);
	}
	#Regency_for_Expats_remains__be {
		position: absolute;
		left: 246px;
		top: 1721px;
		overflow: visible;
		width: 309px;
		white-space: nowrap;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(8,27,86,1);
	}
	#__A0_Text_23 {
		position: absolute;
		left: 141px;
		top: 1545px;
		overflow: hidden;
		width: 32px;
		height: 27px;
		text-align: left;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(254,116,7,1);
	}
	#ID14_Day_Guarantee_If_for_some {
		position: absolute;
		left: 178px;
		top: 1543px;
		overflow: hidden;
		width: 480px;
		height: 105px;
		line-height: 28px;
		margin-top: -5px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		color: rgba(139,139,139,1);
	}
</style>
</head>
<body>
<div id="Regency_Renewals_HEALTH_DisApplied_Detailed_eShot">
	<svg class="Rectangle_7">
		<rect fill="rgba(8,27,86,1)" id="Rectangle_7" rx="0" ry="0" x="0" y="0" width="600" height="145">
		</rect>
	</svg>
	<div id="Group_11">
		<div id="Privacy_Policy_______Regencyfo">
			<span>Privacy Policy   |   Regencyforexpats.com</span>
		</div>
	</div>
	<svg class="Rectangle_29">
		<rect fill="rgba(246,246,246,1)" id="Rectangle_29" rx="0" ry="0" x="0" y="0" width="800" height="73">
		</rect>
	</svg>
	<svg class="logo_regency_for_expats_logo_h">
		<pattern elementId="logo_regency_for_expats_logo_h_A0_Rectangle_4" id="logo_regency_for_expats_logo_h_A0_Rectangle_4_pattern" x="0" y="0" width="100%" height="100%">
			<image x="0" y="0" width="100%" height="100%" href="logo_regency_for_expats_logo_h_A0_Rectangle_4_pattern.png" xlink:href="logo_regency_for_expats_logo_h_A0_Rectangle_4_pattern.png"></image>
		</pattern>
		<rect fill="url(#logo_regency_for_expats_logo_h_A0_Rectangle_4_pattern)" id="logo_regency_for_expats_logo_h" rx="0" ry="0" x="0" y="0" width="211" height="46">
		</rect>
	</svg>
	<div id="Great_news_____you_have_retain">
		<span>Great news... <br/>you have retained your <br/>low claims discount</span>
	</div>
	<div id="Hi_Caroline___We_re_delighted_">
		<span>Hi Caroline,</span><br><span style="font-style:normal;font-weight:normal;"></span><br><span style="font-style:normal;font-weight:normal;letter-spacing:-0.1px;">We’re delighted to confirm that your policy has been renewed and</span><span style="font-style:normal;font-weight:normal;"> that your current policy will expire on the 31 Oct 2019.<br/></span><br><span style="font-style:normal;font-weight:bold;color:rgba(8,27,86,1);">Continue your protection</span><br><span style="font-style:normal;font-weight:normal;">With just a few simple clicks you can; check your policy details, confirm your method of payment and click activate. <br/><br/>Attached to this email is a</span><span style="font-style:normal;font-weight:bold;"> Copy of your Certificate of Insurance</span><span style="font-style:normal;font-weight:normal;"> & </span><span style="font-style:normal;font-weight:bold;">Health Brochure</span><span style="font-style:normal;font-weight:normal;">. Once you click activate we will then process these documents for you.</span><br>
	</div>
	<svg class="logo_regency_for_expats_logo_h_A0_Rectangle_5">
		<pattern elementId="logo_regency_for_expats_logo_h_A0_Rectangle_6" id="logo_regency_for_expats_logo_h_A0_Rectangle_6_pattern" x="0" y="0" width="100%" height="100%">
			<image x="0" y="0" width="100%" height="100%" href="logo_regency_for_expats_logo_h_A0_Rectangle_6_pattern.png" xlink:href="logo_regency_for_expats_logo_h_A0_Rectangle_6_pattern.png"></image>
		</pattern>
		<rect fill="url(#logo_regency_for_expats_logo_h_A0_Rectangle_6_pattern)" id="logo_regency_for_expats_logo_h_A0_Rectangle_5" rx="0" ry="0" x="0" y="0" width="210" height="87">
		</rect>
	</svg>
	<div id="Group_92">
		<svg class="Rectangle_24">
			<rect fill="rgba(254,116,7,1)" id="Rectangle_24" rx="0" ry="0" x="0" y="0" width="137" height="30.5">
			</rect>
		</svg>
		<div id="ACTIVATE_NOW">
			<span>ACTIVATE NOW</span>
		</div>
	</div>
	<div id="Group_111">
		<div id="Group">
			<div id="HEAL">
				<span>HEAL</span>
			</div>
			<div id="TH_INSURANCE_________MORE_PR">
				<span>TH INSURANCE    |    MORE PR</span>
			</div>
			<div id="ODUCTS_________MEMBERSHIP_____">
				<span>ODUCTS    |    MEMBERSHIP    |    CONT</span>
			</div>
			<div id="A">
				<span>A</span>
			</div>
			<div id="CT_US_">
				<span>CT US </span>
			</div>
		</div>
	</div>
	<div id="Group_112">
		<div id="UNSUBSCRIBE">
			<span>UNSUBSCRIBE</span>
		</div>
	</div>
	<div id="You_re_in_safe_hands__Should_y">
		<span></span><span style="font-style:normal;font-weight:bold;color:rgba(8,27,86,1);">You're in safe hands </span><br><span style="font-style:normal;font-weight:normal;">Should you have any queries regarding your policy, please do not hesitate to contact our Client Relations Team who are on hand to support you throughout the term of your coverage.  We have also copied your broker in to this email in case you would like to discuss your renewal with them.</span><br>
	</div>
	<div id="Thank_you_for_placing_your_tru">
		<span></span><span style="font-style:normal;font-weight:normal;">Thank you for placing your trust in Regency for Expats.<br/><br/>Client Services Team<br/>Regency For Expats</span>
	</div>
	<svg class="Rectangle_1">
		<rect fill="rgba(246,246,246,1)" id="Rectangle_1" rx="0" ry="0" x="0" y="0" width="600" height="626">
		</rect>
	</svg>
	<div id="_">
		<span></span>
	</div>
	<div id="__A0_Text_14">
		<span></span>
	</div>
	<div id="__A0_Text_15">
		<span></span>
	</div>
	<div id="Low_Claims_Discount_Loyalty_di">
		<span></span><span style="font-style:normal;font-weight:bold;color:rgba(8,27,86,1);">Low Claims Discount</span><br><span style="font-style:normal;font-weight:normal;">Loyalty discounts on premiums extended to family and friends.</span><br>
	</div>
	<div id="Low_Premium_Rates__Hospitals_a">
		<span></span><span style="font-style:normal;font-weight:bold;color:rgba(8,27,86,1);">Low Premium Rates </span><br><span style="font-style:normal;font-weight:normal;">Hospitals are inflating costs at around 15% per year, Regency are only increasing base rates by 10% for the first time in 5 years. </span><br>
	</div>
	<div id="ID24_hour_Claims_Assistance_In">
		<span></span><span style="font-style:normal;font-weight:bold;color:rgba(8,27,86,1);">24 hour Claims Assistance</span><br><span style="font-style:normal;font-weight:normal;">Independent claims assessors and global assistance available 24/7.</span><br>
	</div>
	<div id="Our_renewal_promises_to_you___">
		<span>Our renewal promises to you...</span>
	</div>
	<div id="Activate_your_policy_documents">
		<span>Activate your policy documents </span><span style="text-decoration:true;">online now</span>
	</div>
	<div id="Group_121">
		<svg class="Rectangle_24_A0_Rectangle_9">
			<rect fill="rgba(254,116,7,1)" id="Rectangle_24_A0_Rectangle_9" rx="0" ry="0" x="0" y="0" width="137" height="30.5">
			</rect>
		</svg>
		<div id="ACTIVATE_NOW_A0_Text_21">
			<span>ACTIVATE NOW</span>
		</div>
	</div>
	<div id="Regency_for_Expats_remains__be">
		<span>Regency for Expats remains </span><br><span style="font-style:normal;font-weight:bold;">best value</span><span> in the market.</span>
	</div>
	<div id="__A0_Text_23">
		<span></span>
	</div>
	<div id="ID14_Day_Guarantee_If_for_some">
		<span></span><span style="font-style:normal;font-weight:bold;color:rgba(8,27,86,1);">14 Day Guarantee</span><br><span style="font-style:normal;font-weight:normal;">If for some reason you are not fully satisfied, you are entitled to a full refund under our 14-day guarantee.</span><br>
	</div>
</div>
</body>
</html>
